<li class="nav-dropdown-container learn">
  <a class="nav-link<%- page.path.match(/(guide(?!\/team.html$|\/installation.html)|api|style-guide|examples|cookbook)(\/|$)/) ? ' current' : '' %>">Learn</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
        <li><a href="<%- url_for("/guide/") %>" class="nav-link<%- page.path.match(/guide(?!\/grammar-book)(\/|$)/) ? ' current' : '' %>">Guide</a></li>
        <li><a href="<%- url_for("/guide/grammar-book/grammar.html") %>" class="nav-link<%- page.path.match(/\/grammar-book(\/|$)/) ? ' current' : '' %>">Grammar</a></li>
        <li><a href="<%- url_for("/api/") %>" class="nav-link<%- page.path.match(/api(\/|$)/) ? ' current' : '' %>">API</a></li>
      <li><a href="<%- url_for("/examples/") %>" class="nav-link<%- page.path.match(/examples(\/|$)/) ? ' current' : '' %>">Examples</a></li>
    </ul></li>
  </ul>
</li>
